.text-right {
    float: right;
}
.modalEl {
    display: none;
    width: 500px;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 12;
}
#remove {
    height: 210px;
}